extends layout

block content
  .x-page-index
    .x-page-bg
        img(src="/img/demo-front.jpg", alt="")
    .x-theme-highlight

    - var menu = [ {name:'公司简介',ename:'Company',url:'#/company'}, {name:'产品中心',ename:'Products',url:'#/b'},{name:'促销信息',ename:'Promotion',url:'#/c'},{name:'新闻中心',ename:'News'},{name:'招商加盟',ename:'Attracting'},{name:'联系我们',ename:'Contact us'}]
    - var menuSize = 3
    
    .x-cpt-menu1

      ul
        each item,index in menu
          li
            a(class='x-jump' href=item.url)
              span= item.name
              span= item.ename

          if (index+1) != menu.length && (index+1)%menuSize == 0
            != '</ul><ul>'
      