doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1")
    meta(name="format-detection", content="telephone=no")
    meta(name="apple-mobile-web-app-status-bar-style", content="white")
    meta(name="apple-mobile-web-app-capable", content="no")

    title= title

    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/animate.min.css")
    link(rel='stylesheet', href='/css/style.css')
    
    style
      /*初始页面*/
      include ../public/css/preview.css
      include ../public/css/theme.css

    //- 统计
    script.
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?9840632da973f35216de6b672cd86dcd";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();

  body
    block content

    include utils/mask

    script.
      var require = {
        baseUrl: 'js',
        paths: {
        },
        shim: {

        },
        map: {
            '*': 'FIS_MAP_JSON',
        }
      };

  script(src='http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js')
  script(src='http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js')
  script(src='/js/app.js')