form(
    action="/users/register"
    method="post"
    target="_self"
    )
    p uname：
        input(type="text" name="uname")
    p password：
        input(type="text" name="password")
    p pwd again：
        input(type="text" name="password_check")
    p
        input(type="submit")