html,body{
  width: 100%;
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*page*/
.x-page {
    display: none;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background: #ddd;
    box-sizing: border-box;
}
#news, #newsdetail{
  background: #fff;
}
#attracting{
  background: #f8f8f8;
}

/*cpts*/
.x-header{
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 0 45px;
  line-height: 45px;
  text-align: center;
  background-color: #000;
}
.x-btn-back{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAuCAMAAAABf/lHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4JpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo0MTYxRjVGRjJGMjA2ODExODIyQUVENEVFQjdCMDg1OCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo4NTlDNTlGQTgzNTYxMUU0OUIyMUJFRjc1MkQzNzI5OCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo4NTlDNTlGOTgzNTYxMUU0OUIyMUJFRjc1MkQzNzI5OCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjA3ZTIyYjc5LTJiMmMtNDI5NS05OWUxLWZjY2Y5ZTAwYjEwZiIgc3RSZWY6ZG9jdW1lbnRJRD0iYWRvYmU6ZG9jaWQ6cGhvdG9zaG9wOmVkYmMyMTAwLWM1NWQtMTE3Ny05YmFkLWMxMTQwYjJiMTU3MiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PoGROh8AAAAGUExURf///////1V89WwAAAACdFJOU/8A5bcwSgAAAHtJREFUeNqUlEEOgDAMw9z/f5ohcUGaDds1YqRxVmZ3WGcw5RZVwRX8G/w2/D+4A9wb7hqfB58UzwBPB88NTxTPGqeA88HJMZ/gOOnBH2l3Ydgo8zVyBVXxFpRCWQWo2lTZqqJV7HoObxA4JBxgtOVoOWRfYhE96+sSYAADGgNJFTjtOAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
}
.x-header h1{
  color: #fff;
  font-size: 18px;
}


.x-page-bg, .x-page-bg img{
    width: 100%;
    height: 100%;
}

.x-page-index{
  width: 100%;
  height: 100%;
}

.x-cpt-menu1{
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
   background:-webkit-gradient(linear, 50% 0%, 50% 30%, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)) );
}
.x-cpt-menu1 ul{
  display: -webkit-box;
  -webkit-box-ordinal-group: vertical;
  border: 1px solid #181717;
  border-top-width: 0px;
}
.x-cpt-menu1 ul li{
  -webkit-box-flex: 1;
  width: 30%;
  text-align: center;
  border: 1px solid #181717;
  border-width: 0 0 0 1px;
}
.x-cpt-menu1 ul:nth-child(1){
  border-top-width: 1px;
}
.x-cpt-menu1 ul li:nth-child(1){
  border-left-width: 0;
}
.x-cpt-menu1 ul li>a{
  display: block;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 14px;
}
.x-cpt-menu1 span{
  display: block;
  line-height: 25px;
  font-size: 14px;
}
.x-cpt-menu1 ul li>a span:nth-child(2){
  color: #606060;
  font-size: 13px;
}

/*cpt-article*/
.x-cpt-article{
  background: #f8f8f8;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 15px 10px;
}
.x-cpt-article h2{
  margin-top: 5px;
  font-size: 16px;
  line-height: 28px;
}
.x-cpt-article p{
  color: #777;
  font-size: 14px;
  line-height: 25px;
}
.x-cpt-article ul li{
  color: #777;
  font-size: 14px;
  line-height: 25px;
}

/*cpt-news*/
.x-cpt-news{
  padding: 10px;
  background: #fff;
}
.x-cpt-news h1{
  font-size: 24px;
  line-height: 34px;
}
.x-cpt-news p{
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.x-cpt-news img{
  width: 100%;
}

/*cpt-card1*/
.x-cpt-card1{
  display: block;
  margin: 0 10px 10px;
  background: #fff;
  border: 1px solid #ddd;
}
.x-cpt-card1:nth-child(1){
  margin-top: 10px;
}
.x-cpt-card1 a{
  display: block;
  color: #000;
}
.x-cpt-card1>a>div:nth-child(1), .x-cpt-card1>div:nth-child(1){
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.x-cpt-card1>a>div:nth-child(1)>p, .x-cpt-card1>div:nth-child(1)>p{
  display: -webkit-box;
  width: 100%;
  height: 54px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.x-cpt-card1>a>div:nth-child(2), .x-cpt-card1>div:nth-child(2){
  position: relative;
  padding-left: 10px;
  line-height: 40px;
  background: #fafafa;
}
.x-cpt-card1>a>div:nth-child(2):after, .x-cpt-card1>div:nth-child(2):after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 15px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAYCAYAAADKx8xXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo4MjY2MGU3My04ZjA1LTQwOTktOWIzYS1jZmJlN2UzZDM2MzciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ODAzOTBCODhBRDE4MTFFNDk1OEZFMTY5OTM2REM4NzgiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6ODAzOTBCODdBRDE4MTFFNDk1OEZFMTY5OTM2REM4NzgiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpmZjdmMWU3MC1iZjZjLTRiOTItYjE1OC02YzMxMzc1NGIyYTciIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDpkN2JjNDljYy1lZDlhLTExNzctODI4MS1mNmUwMzg1M2FjNzgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4zR+7eAAABSklEQVR42ozUzStFQRjH8XEdEkVR/o5bNhY2UkgWFiRuSUQosvESC5HyVhbclKRu8hYJJbGQjbKyOf+ElYXEAie+U496umlmnvrUfaZ+tzNnnjlRHMdNxpgDnGEEiQmoFI5RhUHsoTA0uK36bhyhKCQ4jRW11oETFPuCRsILar0N5yjxBW3NYUb1LbhEqS9oawmTqm/EFcp8QVtrGMOP9PW4QbkvaGsTwypch1tU+IJGjmlADUQt7lDpC9raRa8K10i4OhUwJPvI4Fv6tN1zSNDIJBWoPgkJ9iOnZvgJzb7gEHZU6BENeHEFR7GlHvEB9gq+ut7qBDZU6N4+Ht5c5ziLVdXbg2/Fu2ty5rGo+mu5KR/5/x6p38uYUv0FOvH5314i2cc6xtX6qRz6l+s+5ocO0eUK/QV7VJ+TPgn55rTjGVn0hX4efwUYAKrAQJg3iUR5AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/*cpt-list1*/
.x-cpt-list1 li>a, .x-cpt-list2 li>a{
  position: relative;
  display: block;
  width: 100%;
  color: #000;
}
.x-cpt-list1 li:after, .x-cpt-list2 li:after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 15px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAYCAYAAADKx8xXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo4MjY2MGU3My04ZjA1LTQwOTktOWIzYS1jZmJlN2UzZDM2MzciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ODAzOTBCODhBRDE4MTFFNDk1OEZFMTY5OTM2REM4NzgiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6ODAzOTBCODdBRDE4MTFFNDk1OEZFMTY5OTM2REM4NzgiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpmZjdmMWU3MC1iZjZjLTRiOTItYjE1OC02YzMxMzc1NGIyYTciIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDpkN2JjNDljYy1lZDlhLTExNzctODI4MS1mNmUwMzg1M2FjNzgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4zR+7eAAABSklEQVR42ozUzStFQRjH8XEdEkVR/o5bNhY2UkgWFiRuSUQosvESC5HyVhbclKRu8hYJJbGQjbKyOf+ElYXEAie+U496umlmnvrUfaZ+tzNnnjlRHMdNxpgDnGEEiQmoFI5RhUHsoTA0uK36bhyhKCQ4jRW11oETFPuCRsILar0N5yjxBW3NYUb1LbhEqS9oawmTqm/EFcp8QVtrGMOP9PW4QbkvaGsTwypch1tU+IJGjmlADUQt7lDpC9raRa8K10i4OhUwJPvI4Fv6tN1zSNDIJBWoPgkJ9iOnZvgJzb7gEHZU6BENeHEFR7GlHvEB9gq+ut7qBDZU6N4+Ht5c5ziLVdXbg2/Fu2ty5rGo+mu5KR/5/x6p38uYUv0FOvH5314i2cc6xtX6qRz6l+s+5ocO0eUK/QV7VJ+TPgn55rTjGVn0hX4efwUYAKrAQJg3iUR5AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.x-cpt-list1{
  background: #fff;
}
.x-cpt-list1 li{
  position: relative;
  display: -webkit-box;
  padding: 10px 18px 10px 10px;
  border-bottom: 1px solid #ddd;
}

.x-cpt-list1 li>a{
  display: -webkit-box;
}
.x-cpt-list1 li:nth-child(1){
  border-top: 1px solid #ddd;
}
.x-cpt-list1 li>img, .x-cpt-list1 li>a>img{
  -webkit-box-flex: 0;
  width: 80px;
  height: 60px;
  margin-right: 10px;
}
.x-cpt-list1 li>div, .x-cpt-list1 li>a>div{
  -webkit-box-flex: 1;
  padding-right: 10px;
}
.x-cpt-list1 li>div h2, .x-cpt-list1 li>a>div h2{
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.x-cpt-list1 li>div p, .x-cpt-list1 li>a>div p{
  display: -webkit-box;
  width: 100%;
  height: 32px;
  line-height: 16px;
  font-size: 14px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*cpt-list2*/
.x-cpt-list2 li{
  position: relative;
  padding: 10px 25px 10px 10px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.x-cpt-list2 li h2{
  width: 60%;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.x-cpt-list2 li p{
  display: -webkit-box;
  width: 100%;
  height: 32px;
  line-height: 16px;
  font-size: 14px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.x-cpt-list2-time{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #999;
}


/*el-bigImg*/
.x-el-bigImg{
  width: 100%;
  /*height: 180px;*/
}
.x-el-bigImg img{
  width: 100%;
  height: 100%;
  vertical-align: top;
}


/*el-titleImg*/
.x-el-titleImg{
  position: relative;
  height: 180px;
}
.x-el-titleImg div{
  position: absolute;
  display: block;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
}
.x-el-titleImg img{
  width: 100%;
  height: 100%;
}
.x-el-titleImg div>*{
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.x-el-titleImg h2{
  font-size: 16px;
  line-height: 24px;
}
.x-el-titleImg p{
  font-size: 12px;
  line-height: 18px;
}

/*cpt-bottomBar*/
.x-cpt-hasBottomBar{
  padding-bottom: 45px;
}
.x-cpt-bottomBar{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  z-index: 300;
}
#bbar1{
  background: #fff;
  border-top: 1px solid #ddd;
  line-height: 45px;
  text-align: center;
}
#bbar1 .x-btn-empt{
  margin-right: 10px;
}


/*cpt-contact*/
.x-cpt-contact{
  width: 100%;
  height: 60px;
  background: #fff;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.x-cpt-contact .x-btn-empt{
  margin-right: 10px;
}

/*btn*/
.x-btn{
  display: inline-block;
}

.x-btn-empt, .x-btn-solid{
  box-sizing: border-box;
  width: 40%;
  height: 36px;
  line-height: 36px;
}
.x-btn-solid{
  background: #000;
  color: #fff;
}
.x-btn-empt{
  color: #000;
  border: 1px solid #000;
}


/*cpt-map*/
.x-cpt-map{
  margin: 10px 0;
}
.x-cpt-map-static{
  width: 100%;
  vertical-align:top;
  border: 1px solid #ddd;
  border-width: 1px 1px 0;
  box-sizing: border-box;
}
.x-cpt-map-route{
  width: 100%;
  padding: 15px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
}
.x-cpt-map-route .x-btn{
  width: 80%;
  padding: 10px;
  color: #fff;
  background: #222a2e;
  text-align: center;
  font-size: 16px;
}
