extends layout

block content

  link(rel="stylesheet", href="/widget/onepage-scroll/onepage-scroll.min.css")
  style
    include ../../public/css/home/index.css

  .main
    .page.p1
      .p1-content
        .p1-title1-img
        .p1-light-img
        .p1-title2-img
    .page.p2
      .p-mob-img
      .p2-bg-img
      .p2-content
        
        .p2-txt-img
    .page.p3
      .p-mob-img
      .p3-content
        .p3-txt1-img
        .p3-txt2-img
        .p3-txt3-img
        .p3-txt4-img
    .page.p4
      .p-mob-img
      .p4-bg-img
      .p4-content
        .p4-txt-img
    .page.p5
      .p-mob-img
      .p5-content
        .p5-txt1-img
        .p5-txt2-img
        .p5-txt3-img
        .p5-txt4-img
    .page.p6
      .p-mob-img
      .p6-content
        .p6-txt-img
    .page.footer.p7
      .copy &copy;2015 正信智慧

block js
  include ./utils/hasScript