.x-mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: #fff;
}
/*.x-mask>div{display: none;}*/
.x-mask .x-mask-loading{
  position: absolute;
  top:50%;
  left: 50%;
  margin: -30px 0 0 -25px;
  width: 55px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.x-mask-loading > div {
  display: inline-block;
  background-color: #46C3DE;
  width: 6px;
  height: 100%;
  margin-left: 5px;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.x-mask-loading > div:nth-child(1){
    margin-left: 0px;
}
.x-mask-loading .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.x-mask-loading .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.x-mask-loading .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.x-mask-loading .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}