div.x-cpt-hasBottomBar(data-bbar='bbar1')
  
  - headerHided = false
  - headerHideBack = false
  - headerTitle = '公司简介'
  include ../utils/header
  
  link(rel="stylesheet", href= "/widget/slider/idangerous.swiper.css")
  style.
    .x-cpt-slider {
      position: relative;
    }
    .swiper-slide h3{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      padding-left: 10px;
      line-height: 40px;
      background: rgba(0,0,0,.3);
      color: #fff;
    }
    .pagination {
      position: absolute;
      z-index: 20;
      right: 10px;
      bottom: 10px;
    }
    .swiper-pagination-switch {
      display: inline-block;
      box-shadow: 0px 1px 2px #555 inset;
      margin: 0 3px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: #222;
      margin-right: 5px;
      opacity: 0.8;
      border: 1px solid #fff;
      cursor: pointer;
    }
    .swiper-active-switch {
      background: #fff;
    }
    .swiper-slide img{
      width: 100%;
      height: 100%;
    }

  .x-cpt-slider
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          img(src="/img/demo-article1.jpg", alt="")
          h3= 'slider1'
        .swiper-slide
          p= 222222
          h3= 'slider2'
        .swiper-slide
          img(src="/img/demo-article1.jpg", alt="")
          h3= 'slider3'
    .pagination
  
  .x-cpt-article
    h2 公司地址
    p  北京市丰台区西三环西国贸汽配基地A3-2035

    .x-cpt-map(data-info='{"address":{"province":"8_山东省","city":"325_泰安市","regional":"6587_岱岳区","street":"山东省泰安市岱岳区徂徕镇泰山温泉城"},"point":{"lat":36.112481,"lng":117.287401}}' data-box="0")
      img.x-cpt-map-static(src="http://api.map.baidu.com/staticimage?width=282&height=172&center=117.287401,36.112481&markers=117.287401,36.112481&zoom=14&markerStyles=-1,http://s1.map.bdimg.com/components/static/components/elements/lbs-map/images/marker_b6b848e.png,-1&scale=2")
      .x-cpt-map-route
        a.x-btn(href="http://api.map.baidu.com/marker?location=36.112481,117.287401&title=%E5%B1%B1%E4%B8%9C%E7%9C%81%E6%B3%B0%E5%AE%89%E5%B8%82%E5%B2%B1%E5%B2%B3%E5%8C%BA%E5%BE%82%E5%BE%95%E9%95%87%E6%B3%B0%E5%B1%B1%E6%B8%A9%E6%B3%89%E5%9F%8E&content=%E5%B1%B1%E4%B8%9C%E7%9C%81%E6%B3%B0%E5%AE%89%E5%B8%82%E5%B2%B1%E5%B2%B3%E5%8C%BA&output=html&src=lbscomponents%7Clbscomponents").
          一键导航
            
    h2 主营产品或服务
    p.
      膜业,太阳膜,玻璃膜,防爆膜,安全膜,高隔热防爆膜,汽车防爆膜。
    h2 简介
    p.
      鸿运环通(北京)国际贸易有限公司以专业营销汽车防爆膜、楼宇建筑膜为主，产品行销全国各地区，现旗下拥有"佳丽蓝尚""龙帝""冰龙""威固视窗""龙锐""彪马"“冰窗”"尚固"“欧锐”吉姆贝夫”“杜邦”等品牌，以不同的特性来适

  include ../utils/hasScript


    



