div.x-cpt-hasBottomBar(data-bbar='bbar1')
 
  - headerTitle = '联系我们'
  include ../utils/header

  .x-el-bigImg
    img(src="/img/demo-contact.jpg")

  .x-cpt-article
    h2 公司地址
    p 北京市丰台区西三环西国贸汽配基地A3-2035

    .x-cpt-map(data-info='{"address":{"province":"8_山东省","city":"325_泰安市","regional":"6587_岱岳区","street":"山东省泰安市岱岳区徂徕镇泰山温泉城"},"point":{"lat":36.112481,"lng":117.287401}}' data-box="0")
      img.x-cpt-map-static(src="http://api.map.baidu.com/staticimage?width=282&height=172&center=117.287401,36.112481&markers=117.287401,36.112481&zoom=14&markerStyles=-1,http://s1.map.bdimg.com/components/static/components/elements/lbs-map/images/marker_b6b848e.png,-1&scale=2")
      .x-cpt-map-route
        a.x-btn(href="http://api.map.baidu.com/marker?location=36.112481,117.287401&title=%E5%B1%B1%E4%B8%9C%E7%9C%81%E6%B3%B0%E5%AE%89%E5%B8%82%E5%B2%B1%E5%B2%B3%E5%8C%BA%E5%BE%82%E5%BE%95%E9%95%87%E6%B3%B0%E5%B1%B1%E6%B8%A9%E6%B3%89%E5%9F%8E&content=%E5%B1%B1%E4%B8%9C%E7%9C%81%E6%B3%B0%E5%AE%89%E5%B8%82%E5%B2%B1%E5%B2%B3%E5%8C%BA&output=html&src=lbscomponents%7Clbscomponents").
          一键导航

    h2 电话
    p 86-10-63870405
    h2 传真
    p 86-10-63870654
    h2 手机
    p 13798183162
    h2 邮箱
    p 13798183@qq.com

  include ../utils/hasScript
