div 
  - headerTitle = '新闻中心'
  include header.jade

  ul.x-cpt-list2
    li
      a(href="http://", target="_blank")
        h2 5月加盟商信息
        p 各代理商信息已经短信发送，请即查收信息！如有疑问，请打客服电话咨询
        .x-cpt-list2-time 2015-12-20
    li
      a(href="http://", target="_blank")
        h2 5月加盟商信息
        p 各代理商信息已经短信发送，请即查收信息！如有疑问，请打客服电话咨询
        .x-cpt-list2-time 2015-12-20
