div 
  - headerTitle = '新闻中心'
  include ../utils/header

  ul.x-cpt-list2
    each news,index in app.news
      li
        a.x-jump(href="#/newsdetail/"+index)
          h2= news.title
          p= news.content
          .x-cpt-list2-time= news.postDate
