div 
  - headerTitle = '新闻中心'
  include ../utils/header

  ul.x-cpt-list2
    li
      a.x-jump(href="#/newsdetail")
        h2 5月加盟商信息
        p 各代理商信息已经短信发送，请即查收信息！如有疑问，请打客服电话咨询
        .x-cpt-list2-time 2015-12-20
    li
      a.x-jump(href="#/newsdetail")
        h2 5月加盟商信息
        p 各代理商信息已经短信发送，请即查收信息！如有疑问，请打客服电话咨询
        .x-cpt-list2-time 2015-12-20
