div

  - headerTitle = '产品中心'
  include ../utils/header

  ul.x-cpt-list1
    li
      a.x-jump(href="#/productdetail")
        img(src="/img/demo-list1.jpg")
        div
          h2 彪马顶级汽车隔热膜彪马顶级汽车隔热膜彪马顶级汽车隔热膜彪马顶级汽车隔热膜
          p 为您的爱车创造一个新悦、唯美、时尚的内饰环境为您的爱车创造一个新悦、唯美、时尚的内饰环境为您的爱车创造一个新悦、唯美、时尚的内饰环境为您的爱车创造一个新悦、唯美、时尚的内饰环境为您的爱车创造一个新悦、唯美、时尚的内饰环境
    li
      a.x-jump(href="#/productdetail")
        img(src="/img/demo-list2.jpg")
        div
          h2 龙锐汽车隔热膜
          p 世界上最受推崇的高性能玻璃膜品牌.....
