div

  - headerTitle = '产品中心'
  include ../utils/header

  ul.x-cpt-list1
    each product,index in app.product
      li
        a.x-jump(href="#/productdetail/"+index)
          img(src=product.logo)
          div
            h2= product.name
            p!= product.detail