div 
  - headerTitle = '产品详情'
  - var product = app.product[tplData.pageId]
  include ../utils/header

  .x-el-bigImg
    img(src=product.images[0])

  .x-cpt-contact
    include ../utils/qqWithTel

  .x-cpt-article
    h2 产品参数
    ul= product.spec
    h2 产品详情
    p= product.detail