div

  - headerTitle = '产品中心'
  include ../utils/header

  ul.x-cpt-list1
    each product in app.product
      li
        a.x-jump(href="#/productdetail/1")
          img(src=product.logo)
          div
            h2= product.name
            p= product.detail