div 
  - headerTitle = '促销活动'
  include ../utils/header

  ul
    each promotion,index in app.promotion
      li.x-cpt-card1
        a(class='x-jump' href='#/promodetail/'+index)
          div
            .x-el-titleImg
              img(src=promotion.images[0])
              div
                h2= promotion.name
                p= promotion.time
            p= promotion.qualification
          div 阅读全文
