div.x-cpt-hasBottomBar(data-bbar='bbar1')
 
  - headerTitle = '活动详情'
  include header.jade

  .x-el-bigImg
    img(src="/img/demo-card.jpg")

  .x-cpt-article
    h2 活动时间
    p 2015年1月1日-2015年3月1日
    h2 参与资格
    p 人人皆可参与
    h2 参与方法
    p.
      手机无线端参与规则
      1．用手机上百度，搜“红包”等相关词，输入手机号码即可参与。
      2．请使用个人手机号码。所有中奖信息将通过短信确认。
      3.点击“立即抢红包”
      4.获得属于你的礼品。（收到确认短信后，请在48小时内按照提示进行操作。）
