a.x-btn(data-for-qq href = 'http://wpa.qq.com/msgrd?v=3&uin=' + qq + '&site=qq&menu=yes' target="_blank") <i class='qq'></i> 在线咨询
  <!--href= 'tencent://message/?Menu=yes&uin=373278322&Service=200&sigT=bc799de13f6b616996ffdda3884f3daf66572104e865057627b2bcdda186f3d2'-->
    
a.x-btn(data-for-tel href= 'tel:' + tel) <i class="phone"></i> 立即通话
    